/* ----- Global ----- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  margin: 0;
  line-height: 1.8em;
  color: #000;
  background-color: #eeeeee;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ----- Separadores ----- */

.separator-v {
  background: #ccc;
  height: 25px;
  margin: 25px auto;
  width: 2px;
}

.separator-h {
  background: #ccc;
  height: 2px;
  margin: 25px auto;
  width: 50px;
}

.long-separator {
  background: #7A7A7A;
  height: 2px;
  margin: 25px auto;
  width: 400px;
}


/* ----- TOP nav ----- */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #222831;
}

.nav-container a {
  color: #eeeeee;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #eeeeee;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #d65a31;
}

.btn-contact {
  font-family: 'Open Sans', sans-serif;
  padding: 9px 25px;
  background-color: #d65a31;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #eeeeee;
}

.btn-contact:hover {
  background-color: #af492a;
}

/* ----- Landings de Secciones ------ */

#RodrigoToyama,
#WhereDoILive,
#MyFavouritePet,
#Studies,
#Hobbies {
  position: relative;
  opacity: 1;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-attachment: fixed;
}

#RodrigoToyama {
  background-image: url('../images/barrio7-unsam.jpg');
  min-height: 100%;
}

#WhereDoILive {
  background-image: url('../images/barrio3-sanmartin.jpg');
  min-height: 400px;
}

#MyFavouritePet {
  background-image: url('../images/animal1-grande.jpg');
  min-height: 400px;
}

#Studies {
  background-image: url('../images/barrio5-unsam.jpg');
  min-height: 400px;
}

#Hobbies {
  background-image: url('../images/hobbie-rkmd3.jpg');
  min-height: 400px;
}

.landingText {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 40px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.landingText .border {
  background-color: #222831;
  color: #fff;
  padding: 20px;
  font-family: 'Proza Libre', sans-serif;
}

.landingText .border .trans {
  background-color: transparent;
}


/* ----- Main ----- */
/* ----- Seccion 1 - Quien soy? -----*/
.section-container {
  min-height: 100%;
}

#WhoAmI,
.myfavouritedog-info {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  padding: 50px 80px 20px 80px;
}

.avatar {
  margin-bottom: 25px;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.text-container {
  margin: 20px;
  padding-bottom: 30px;
  padding-top: 20px;
}

.text {
  font-size: 1.2em;
  letter-spacing: 2px;
  line-height: 2em;
}

.card-text ul {
  list-style: none;
  letter-spacing: 5px;
}


/* ----- Skills Cartas ----- */

.section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin-bottom: 70px;
}

.card {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: white;
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
  border-radius: 20px;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 30px;
  margin-bottom: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 15em;
  margin-bottom: 15px;
  align-items: center;
}

.card-title {
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 1.25rem;
}

.card-text {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 1.25rem;
  font-weight: 400;
  align-items: center;
  text-align: center;
}


/* ----- Seccion - Donde vivo? ----- */

/* ----- Carta principal -----*/
.main-container-card {
  display: flex;
  position: relative;
  height: 400px;
  width: 1000px;
  margin: 80px auto;
  background-color: #FFF;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.main-container-card-img {
  height: 400px;
}

.main-card-img {
  height: 100%;
}

.main-container-card .main-card-text {
  padding: 20px 30px 50px;
}

.main-card-text h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
}

.main-card-text p {
  text-align: justify;
  margin-top: 1em;
  margin-bottom: 1em;
}


/* ----- Fotos del barrio -----*/

.cards-wrapper-h {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.card1,
.card2,
.card3 {
  position: relative;
  justify-content: space-around;
  height: 100%;
  width: 400px;
  margin: 20px 30px 50px 30px;
  background-color: #FFF;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.card-img {
  height: 270px;
  width: 100%;
  height: auto;
}

.card1 p,
.card2 p,
.card3 p {
  text-align: justify;
  margin: 20px;
}

/* ----- Fotos de animales ----- */

.card10,
.card11,
.card12 {
  position: relative;
  justify-content: space-around;
  margin: 20px 30px 50px 30px;
  background-color: #FFF;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 100%;
}

.card10 p,
.card11 p,
.card12 p {
  text-align: justify;
  margin: 20px;
}

.card11 {
  width: 250px;
}


/* ----- Logos/cartas/lugares de Estudio ----- */

.cards-wrapper-v {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}

.card-img-container {
  background-color: #EF8D9C;
  height: 300px;
}

.card4,
.card5,
.card6,
.card13 {
  position: relative;
  justify-content: space-between;
  height: 100%;
  width: 700px;
  margin: 20px 0 20px 0;
  background-color: #FFF;
  box-shadow: 0 20px 40px -20px rgba(0, 0, 0, 0.40);
}

/* ----- Primario - Colegio Fernando José Aguer ----- */
.card4 .card-img-container {
  background-color: #004968;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card4 .card-study-text {
  background-color: #004968;
  opacity: 0.90;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #fff;
}

/* ----- Secundario - Instituto José Hernandez ----- */
.card5 .card-img-container {
  background-color: #004968;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card5 .card-study-text {
  background-color: #004968;
  opacity: 0.90;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #fff;
}

/* ----- Universidad - Tecnicatura en Programacion Informatica ----- */
.card13 .card-img-container {
  background-color: #fff;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card13 .card-study-text {
  background-color: #fff;
  opacity: 0.90;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  color: #000;
}

/* ----- Cursos - Educacion IT ----- */

.card6 .card-img-container {
  background-color: #025FA5;
  opacity: 0.90;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card6 .card-title-span {
  position: absolute;
  top: 54%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.card6 .card-subtitle-span {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 1;
}

.card6 .card-study-text {
  background-color: #025FA5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  opacity: 0.90;
}

.card6 .card-text-container {
  height: 180px;
}

.card6 li {
  margin-left: 10px;
  text-align: center;
}

.card-title-span {
  position: absolute;
  top: 57%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.card-subtitle-span {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/* ----- Seccion - Hobbies ----- */

.card7,
.card8,
.card9 {
  position: relative;
  justify-content: space-around;
  height: 100%;
  width: 500px;
  margin: 20px 30px 50px 30px;
  background-color: #FFF;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
}

.card7 .card-study-text,
.card8 .card-study-text,
.card9 .card-study-text {
  text-align: justify;
  margin: 20px;
}

/* ----- Ryukyukoku Matsuridaiko ----- */
.card7 .card-title-span {
  position: absolute;
  top: 10%;
  right: 15%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/* ----- Stevie Ray Vaughan ----- */
.card8 .card-title-span {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

/* ----- Breaking Bad ----- */
.card9 .card-title-span {
  position: absolute;
  top: 57%;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 8px;
  text-transform: uppercase;
}


/* ----- Footer ----- */

footer {
  background: #222831;
}

.section-footer-container {
  display: inline-block;
  width: 100%;
  padding: 50px 60px 40px;
  background-color: #222831;
}

/* ----- Parte izquierda Footer ----- */
.section-footer-container .footer-left {
  float: left;
}

.section-footer-container .link-items {
  color: #eeeeee;
  margin: 0 0 10px;
  padding: 0;
}

.section-footer-container h3 {
  color: #eeeeee;
  font: normal 30px 'Proza Libre', sans-serif;
  margin: 0 0 20px;
  letter-spacing: 8px;
}

.section-footer-container .media-logos {
  margin-top: 50px;
}

.section-footer-container .media-logos a {
  display: inline-block;
  cursor: pointer;
  margin-right: 30px;
}

/* ----- Parte derecha Footer ----- */
.section-footer-container .footer-right {
  float: right;
}

.section-footer-container form {
  display: inline-block;
}

.section-footer-container .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff;
}

.section-footer-container form input {
  display: block;
  height: 55px;
  margin-bottom: 15px;
  border-radius: 3px;
  background-color: #eeeeee;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  color: #d1d2d2;
  width: 400px;
  padding: 18px;
}

.section-footer-container form textarea {
  display: block;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #eeeeee;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 14px;
  color: #d1d2d2;
  width: 400px;
  padding: 18px;
}

.section-footer-container form button {
  border-radius: 3px;
  background-color: #d65a31;
  color: #eeeeee;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.section-footer-container form button:hover {
  background-color: #af492a;
}